<%# 找回密码-选择找回工具 %>
<% include ../inc/inc-uform-head %>

<% if(logined) { %>
<% include ../inc/inc-uform-logon %>
<% } else { %>
<form method="get" action="./passwd-estep1.html">
	<div class="form-group">
		<label for="email" class="text-muted">电子邮箱</label>
		<input class="form-control form-control-lg" type="email" name="email" placeholder="ntopic@163.com" maxlength="32" required="required" autofocus="autofocus"/>
	</div>
	<button type="submit" class="btn btn-lg btn-outline-danger btn-block">下一步</button>
</form>
<% } %>

<% include ../inc/inc-uform-foot %>
