	<div class="footer">
		<div class="container">
			<div class="row">
				<div id="footer-copyright" class="span6">
					&copy; 2013 <a href="http://obullxl.github.io">obullxl@gmail.com</a>
				</div>
				<div id="footer-terms" class="span6">
					<a href="http://anode.aliapp.com">云博客</a>
					<a href="http://obullxl.cnblogs.com">博客园</a>
					<script type="text/javascript" src="http://js.tongji.linezing.com/3298179/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/3298179/tongji.gif"/></a></noscript>
					<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5656609'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s9.cnzz.com/stat.php%3Fid%3D5656609%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
<!-- Place this tag in your head or just before your close body tag. -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'zh-CN'}
</script>
<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-annotation="none"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- /footer -->
</body>
</html>