<div class="text-muted">已登录会员：</div>
<div class="alert alert-success text-center" role="alert"><%= uname %></div>
<a href="/user-logout.html" class="btn btn-lg btn-outline-danger btn-block" target="_top">退出登录</a>