<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">导航菜单</a>
			<div class="nav-collapse collapse">
				<ul class="nav" role="navigation">
					<li class="dropdown"><a id="drop-control" href="javascript:void(0)" role="button" class="dropdown-toggle" data-toggle="dropdown">控制面板 <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="drop-control">
							<li><a href="/admin/index.html"><span class="icon-home"></span> 系统管理</a></li>
							<li class="divider"></li>
							<li class="dropdown-submenu"><a href="javascript:void(0)"><span class="icon-user"></span> 用户管理</a>
								<ul class="dropdown-menu">
									<li><a href="/admin/user-create.html">新增用户</a></li>
									<li><a href="/admin/user-manage.html">用户管理</a></li>
								</ul></li>
							<li class="dropdown-submenu"><a href="javascript:void(0)"><span class="icon-th-list"></span> 主题管理</a>
								<ul class="dropdown-menu">
									<li><a href="/admin/topic-create.html">新增主题</a></li>
									<li><a href="/admin/topic-manage.html">主题管理</a></li>
								</ul></li>
							<li class="divider"></li>
							<li><a href="/logout.html"><span class="icon-share"></span> 退出登录</a></li>
						</ul></li>
					<li class="divider-vertical"></li>
				</ul>
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>
					<li><a href="/logout.html"><span class="icon-share"></span> 退出登录</a></li>
					<li class="divider-vertical"></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>
<!-- /.navbar -->