<form method="post" enctype="multipart/form-data" action="/file/upload">
  <input type="text" name="username" /><br/>
  <input type="password" name="password" /><br/>
  <input type="file" name="file1" /><br/>
  <input type="file" name="file2" /><br/>
  <input type="submit" />
</form>